extends layout/base
block body
  #home.container.banner
    h1.align-center Cafe de Light

  #about-us.container.about-us
    .row
      .col-sm-8
        #carousel.carousel.slide(data-ride="carousel")
          ol.carousel-indicators
            li.active(data-target="#carousel", data-slide-to="0")
            li.active(data-target="#carousel", data-slide-to="1")
            li.active(data-target="#carousel", data-slide-to="2")

          .carousel-inner
            .item.active
              img.img-responsive(src="img/CDLSlideshow1.jpg")
            .item
              img.img-responsive(src="img/CDLSlideshow2.jpg")
            .item
              img.img-responsive(src="img/CDLSlideshow3.jpg")

      .col-sm-4
        h2  We <span class="glyphicon glyphicon-heart"></span> coffee.

        p.copy.
          We are a coffee shop.  We sell coffee.  It's cool.
          Id vitae ante vel condimentum auctor, aenean mattis vitae donec
          turpis libero suspendisse, vel curabitur nunc lacinia, at pharetra
          ipsum donec at suspendisse, libero nulla imperdiet curabitur lectus

        p.copy.
          phasellus rerum. Blandit aliquam eos amet, at sodales nunc nam tellus
          quis vestibulum, rhoncus dolor in varius aenean proin volutpat. Nec
          porta pellentesque eget, adipiscing et sodales a sociosqu orci,
          sociosqu orci ac pellentesque vel, 

  #location.container.location
    .row
      .col-sm-4
        .address
          p Cafe de Light
          p 124 University Ave
          p Clarksville, TN 37040

      .col-sm-8
        #gmap.gmap-container
