extends layout/base
block banner
  .bean-hero(data-0="background-position: 0px -40px", data-400="background-position: 0px 100px")
    .lead.container
      .logo.col-sm-8.col-sm-offset-2
        img.img-responsive.center(src="/img/logo.png")

block body
  .bag-wrap(data-0="background-attachment: scroll", data-400="background-attachment: fixed")
    #about-us.container.about-us
      .row
        .col-sm-8
          #carousel.carousel.slide(data-ride="carousel")
            ol.carousel-indicators
              li.active(data-target="#carousel", data-slide-to="0")
              li.active(data-target="#carousel", data-slide-to="1")
              li.active(data-target="#carousel", data-slide-to="2")

            .carousel-inner
              .item.active
                img.img-responsive(src="img/CDLSlideshow1.jpg")
              .item
                img.img-responsive(src="img/CDLSlideshow2.jpg")
              .item
                img.img-responsive(src="img/CDLSlideshow3.jpg")

        .col-sm-4
          h2  We <span class="glyphicon glyphicon-heart"></span> coffee.

          p.copy.
            We are a coffee shop.  We sell coffee.  It's cool.

    #location.container.location
      .row
        .col-sm-4
          .address
            p Cafe de Light
            p 124 University Ave
            p Clarksville, TN 37040

        .col-sm-8
          #gmap.gmap-container
