extends layout/base
block banner
  #bean-hero.bean-hero(data-anchor-target="#bag-wrap", data-top-top="background-position: 0px 0px", data-bottom-top="background-position: 0px -200px")
    .lead.container
      .logo.col-sm-8.col-sm-offset-2
        img.img-responsive.center(src="/img/logo.png")

block body
  #about-us.container.about-us
    .row
      .col-sm-8
        #carousel.carousel.slide(data-ride="carousel")
          ol.carousel-indicators
            li.active(data-target="#carousel", data-slide-to="0")
            li.active(data-target="#carousel", data-slide-to="1")
            li.active(data-target="#carousel", data-slide-to="2")

          .carousel-inner
            .item.active
              img.img-responsive(src="img/CDLSlideshow1.jpg")
            .item
              img.img-responsive(src="img/CDLSlideshow2.jpg")
            .item
              img.img-responsive(src="img/CDLSlideshow3.jpg")

      .col-sm-4
        h2  We <span class="glyphicon glyphicon-heart"></span> coffee.

        p.copy.
          <b>Very much so!</b> We wanted to establish a place where our customers
          could enjoy great coffee and great conversation in a great space! 

        p.copy.
          Located across the street from Austin Peay State University, Cafe de
          Light is our way of bringing an additional, local option to
          Clarksville, TN. Our sourced blends are all Organic, Fair Trade, and
          full of flavor! Stop by whenever you’d like; We enjoy meeting new,
          friendly faces! Thank you for your business! 

  #stuff.container.stuff
    .row
      .col-sm-12

  #location.container.location
    .row
      .col-sm-12
        h1.text-center Come visit us!
        h2.text-center.address.
            Cafe de Light &#124; 124 University Ave. &#124; Clarksville, TN 37040

    .row
      .col-sm-4.hidden-xs
        img.grey-border.img-responsive(src="/img/storefront.jpg")

      .col-sm-8.col-xs-12
        #gmap.gmap-container

