extends layout/base
block body
  #home.container.banner

  #about-us.container.about-us
    .row
      .col-sm-8
        #carousel.carousel.slide(data-ride="carousel")
          ol.carousel-indicators
            li.active(data-target="#carousel", data-slide-to="0")
            li.active(data-target="#carousel", data-slide-to="1")
            li.active(data-target="#carousel", data-slide-to="2")

          .carousel-inner
            .item.active
              img.img-responsive(src="img/CDLSlideshow1.jpg")
            .item
              img.img-responsive(src="img/CDLSlideshow2.jpg")
            .item
              img.img-responsive(src="img/CDLSlideshow3.jpg")

      .col-sm-4
        h2  We <span class="glyphicon glyphicon-heart"></span> coffee.

        p.copy.
          We are a coffee shop.  We sell coffee.  It's cool.
          Id vitae ante vel condimentum auctor, aenean mattis vitae donec
          turpis libero suspendisse, vel curabitur nunc lacinia, at pharetra
          ipsum donec at suspendisse, libero nulla imperdiet curabitur lectus

        p.copy.
          phasellus rerum. Blandit aliquam eos amet, at sodales nunc nam tellus
          quis vestibulum, rhoncus dolor in varius aenean proin volutpat. Nec
          porta pellentesque eget, adipiscing et sodales a sociosqu orci,
          sociosqu orci ac pellentesque vel, 

  #menu.container.menu
    .row
      .col-sm-12
        table.table
          thead
            tr
              th Some tasty treats:
              th Small
              th Medium
              th Large

          tbody
            tr
              td Hot Tea
              td $1.70
              td $2.00
              td $2.40

            tr
              td Hot Chocolate
              td $2.50
              td $2.90
              td $3.20

            tr
              td Coffee
              td $1.90
              td $2.10
              td $2.30

            tr
              td Espresso
              td $1.80
              td $2.10
              td $2.30

            tr
              td Americano
              td $1.90
              td $2.15
              td $2.50

            tr
              td Latte
              td $3.00
              td
              td

            tr
              td Cappuccino
              td $2.95
              td $3.50
              td $3.80

            tr
              td Mocha (White, too!)
              td $3.05
              td $3.55
              td $3.95

            tr
              td Caramel Macchiato
              td $3.05
              td $3.55
              td $3.95

            tr
              td Frappe
              td What's a small? 
              td $2.95
              td $4.25

            tr
              td Smoothie
              td $3.75
              td $4.75

  #location.container.location
    .row
      .col-sm-4
        .address
          p Cafe de Light
          p 124 University Ave
          p Clarksville, TN 37040

      .col-sm-8
        #gmap.gmap-container
