extends layout/base
block body
  #menu.container.menu
    .row
      .col-sm-12
        table.table
          thead
            tr
              th Some tasty treats:
              th Small
              th Medium
              th Large

          tbody
            tr
              td Hot Tea
              td $1.70
              td $2.00
              td $2.40

            tr
              td Hot Chocolate
              td $2.50
              td $2.90
              td $3.20

            tr
              td Coffee
              td $1.90
              td $2.10
              td $2.30

            tr
              td Espresso
              td $1.80
              td $2.10
              td $2.30

            tr
              td Americano
              td $1.90
              td $2.15
              td $2.50

            tr
              td Latte
              td $3.00
              td $3.55
              td $3.85
              td
              td

            tr
              td Cappuccino
              td $2.95
              td $3.50
              td $3.80

            tr
              td Mocha (White, too!)
              td $3.05
              td $3.55
              td $3.95

            tr
              td Caramel Macchiato
              td $3.05
              td $3.55
              td $3.95

            tr
              td Frappe
              td What's a small? 
              td $2.95
              td $4.25

            tr
              td Smoothie
              td $3.75
              td $4.75

