/* lol hai
 **********/
body {
    padding-top: 70px;
    min-height: 2000px;
}

.nav.navbar-default {
    margin-top: 20px;

    .nav.navbar-nav {
        li {
            padding-left: 80px; 
            padding-right: 80px;
        }
    }
}











