/* lol hai
 **********/
body {
    padding-top: 100px;
    min-height: 600px;
    background: url('/img/bg-1200.jpg') 0 0 no-repeat;
    background-size: cover; }


.nav.navbar-default {
    border-top: 10px solid rgba(255, 255, 255, 0.7);
    border-bottom: 10px solid rgba(255, 255, 255, 0.7);
    background: #000;
    background: rgba(0, 0, 0, 0.8);
    background-clip: padding-box;
    top: 30px;
    .nav.navbar-nav > .active > a {
        background-color: rgba(255, 255, 255, 0.7);
    }
}

.banner.container {
    background: url('http://placehold.it/1200x400') no-repeat center 0;
    margin-top: 20px;
    height: 400px;
}

.about-us.container {
    background: rgba(255, 255, 255, 0.8);
    min-height: 400px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.menu.container {
    min-height: 400px;
    background: rgba(255, 255, 255, 0.8);
}

.location.container {
    background: rgba(255, 255, 255, 0.8);
    min-height: 400px;
    .gmap-container {
        min-height: 400px;
    }
}
